.about-page-container {
	font-family: var(--font-indie-flower), cursive !important;
  	background: hsl(var(--background));
	margin: 0px;
	padding: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.about-page-container ::selection {
	background: transparent;
}

.about-page-container h4 {
	font-size: 26px;
	line-height: 1.2;
	font-family: var(--font-amatic-sc), cursive !important;
}

.color1{color:#1BBC9B}/*MOUNTAIN MEADOW*/
.color2{color:#C0392B/*TALL POPPY*/}


.card {
	color: #013243; /*SHERPA BLUE*/
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 400px;
	background: #e0e1dc;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: width 1s, transform 1s;
}

.card:hover {
	transform: translate(-50%,-50%) perspective(2000px) scale(1.2);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
    width: 600px;
}

.card .imgBox {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: .7s;
    z-index: 2;
}

.card .imgBox:before {
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #BAC1BA;
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.card .imgBox:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: #92A29C;
	transform-origin: left;
	transform: skewY(-45deg);
}


.card .bark {
	position: absolute;
	background: #e0e1dc;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.card .imgBox .logo-container {
	width: 100%;
	height: 100%;
    object-fit: contain;
    padding: 40px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.card:hover .imgBox {
	transform: rotateY(-135deg);
}

.card:hover .bark {
	opacity: 1;
	transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 20px;
	z-index: 1;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    opacity: 0;
}

.card:hover .details {
    opacity: 1;
    transition: opacity 0.5s 0.5s;
}

.card .details .page-left, .card .details .page-right {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.card .details .page-left {
    padding-left: 30px;
}

.card .details p {
	font-size: 15px;
	line-height: 22px;
}

.card .details ul {
    list-style: none;
    padding: 0;
    margin-top: 5px;
}
.card .details li {
    font-size: 15px;
    line-height: 22px;
}


.card .details h4 {
	text-align: center;
}

.text-right {
	text-align: right;
}
